<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh; padding-top: 30px;">
  <div class="card shadow-lg p-3 text-center" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h1 class="card-title"><%= t('home.welcome_message') %></h1>
      <p class="card-text"><%= t('home.login_prompt') %></p>

      <% if user_signed_in? %>
        <p><%= t('home.logged_in_as') %> <strong><%= current_user.email %></strong>.</p>

        <!-- Botão de Log Out -->
        <%= button_to t('auth.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { turbo: false } %>
        
        <!-- Links para os Dashboards -->
        <% if current_user.role == "teacher" %>
          <%= link_to t('home.go_to_teacher_dashboard'), teacher_dashboard_path, class: "btn btn-primary mb-2" %>
        <% elsif current_user.role == "student" %>
          <%= link_to t('home.go_to_student_dashboard'), student_dashboard_path, class: "btn btn-primary mb-2" %>
        <% end %>
      <% else %>
        <!-- Formulário de Sign Up -->
        <h2 class="mt-3"><%= t('home.sign_up_title') %></h2>
        <%= render 'devise/registrations/new' %>
      <% end %>
    </div>
  </div>
</div>

