<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4"><%= t "devise.invitations.edit.header" %></h2>

      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: 'needs-validation' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :invitation_token, readonly: true %>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %><br />
          <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
        </div>

        <% if f.object.class.require_password_on_accepting %>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %><br />
            <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class: "form-label" %><br />
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
          </div>
        <% end %>

        <div class="d-grid">
          <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="mt-3 text-center">
        <%= link_to t('common.back'), root_path, class: "text-decoration-none" %>
      </div>
    </div>
  </div>
</div>
